<br>
<button type="button" (click)="import()" class="btn btn-primary btn-circle" title="Import"><i class="fa fa-upload"></i></button>
<br><br>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-uncompiledjobs">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Jarname</th>
                                                <th>Created At</th>
                                                <th>Options</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of uncompileds">
                                                <td>{{item.uncompiledId}}</td>
                                                <td>{{item.decoded.jarname}}</td>
                                                <td>{{item.createdDt | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                                                <td>
                                                    <button type="button" (click)="editUncompiled(item.uncompiledId)" class="btn btn-default btn-circle" title="Edit Jar"><i class="fa fa-edit"></i></button>
                                                    <button type="button" (click)="export(item.uncompiledId,item.decoded.jarname)" class="btn btn-default btn-circle" title="Export uncompiled"><i class="fa fa-download"></i></button>
                                                    <button type="button" (click)="compile(item.uncompiledId)" class="btn btn-default btn-circle" title="Compile Jar"><i class="fa fa-cog"></i></button>
                                                    <button type="button" (click)="delete(item.uncompiledId)" class="btn btn-default btn-circle" title="Delete Jar"><i class="fa fa-trash"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <app-error-mondal [titleMsje]="title_msje" [errorMsje]="error_msje" [idModal]="'errorUncompiled'"></app-error-mondal>

                                <div class="modal fade" id="importUncompiledModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel">Import JSON Uncompiled file</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label>File input</label>
                                                    <input #propImporter type="file" (change)="upload($event)">
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <button (click)="importUncompiled()" type="button" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
