<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">File System Explorer</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Mounted FileSystem
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">

                        <div id="files"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


