.editor {
    width: 562px; 
    height: 300px;
    resize: none;
    color: #3E3E3C;
    border: 0;
    background-color:#CCCDC2 ;
    white-space: pre;
    overflow: auto;
    font-size: 15px;
    font-family: monospace;
    line-height: 15px;
    font-weight: 500;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    margin: auto;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin-top: 20px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .invisible{
    display: none;
  }

  .modal-dialog {
    width: 50%;
  }
  .pointer {
    cursor: pointer;
  }
  .input {
    width: 50%;
  }
  .tab-content{
    overflow-y:auto;
    max-height: 400em;
  }