<div class="modal fade" id="param-modalexistingj" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{{selectedStep}} details</h4>
            </div>
            <div class="modal-body">

                <div class="btn-group pull-right" >
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    from another stage in DAG <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li *ngFor="let anot of another"><a class="pointer" (click)="loadFrom(anot.id)">{{anot.id}}</a></li>
                    </ul>
                    &nbsp;
                    &nbsp;
                    <button type="button" (click)="execStep()" class="btn btn-success"><i class="fa fa-play"></i></button>
                </div>


                <ul class="nav nav-tabs">
                    <li class="active"><a href="#home" data-toggle="tab">Parameters</a></li>
                    <li><a id="trigger-id" href="#profile" (click)="refreshCodemirror()" data-toggle="tab">Scripts</a></li>
                    <li><a id="trigger-id" href="#settings" data-toggle="tab">Settings</a></li>
                </ul>
                <div #loader class="loader"></div>
                <div #form class="tab-content">
                    <div class="tab-pane fade in active" id="home">
                        <div class="form-group" *ngFor="let item of generatedIdParams">
                            <ng-container *ngIf="item.type == 'text'">
                                <label>{{item.key}}</label>
                                <input class="form-control param-value-input" id="param-{{item.key}}-value" value="{{item.value}}">
                                <p class="help-block">{{item.source == 'PAR'?'required':'optional' }}</p>
                            </ng-container>
                            <ng-container *ngIf="item.type == 'password'">
                                <label>{{item.key}}</label>
                                <input class="form-control param-value-input" type="password" id="param-{{item.key}}-value" value="{{item.value}}">
                                <p class="help-block">{{item.source == 'PAR'?'required':'optional' }}</p>
                            </ng-container>
                            <ng-container *ngIf="item.type == 'number'">
                                <label>{{item.key}}</label>
                                <input class="form-control param-value-input" type="number" id="param-{{item.key}}-value" value="{{item.value}}">
                                <p class="help-block">{{item.source == 'PAR'?'required':'optional' }}</p>
                            </ng-container>
                            <ng-container *ngIf="item.type == 'boolean'">
                                <label>{{item.key}}</label>
                                <select class="form-control param-value-input" id="param-{{item.key}}-value">
                                    <option value="true" [selected]="item.value == 'true'?true:false" >True</option>
                                    <option value="false" [selected]="item.value == 'false'?true:false" >False</option>
                                </select>
                                <p class="help-block">{{item.source == 'PAR'?'required':'optional' }}</p>
                            </ng-container>
                            <ng-container *ngIf="item.type == 'list'">
                                <label>{{item.key}}</label>
                                <select class="form-control param-value-input" id="param-{{item.key}}-value">
                                    <option *ngFor="let opt of item.opt" value="{{opt}}" [selected]="item.value == opt">{{opt}}</option>
                                </select>
                                <p class="help-block">{{item.source == 'PAR'?'required':'optional' }}</p>
                            </ng-container>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile">
                        <div class="form-group" *ngFor="let item of generatedIdParams">
                            <ng-container *ngIf="item?.type == 'sourcecode'">
                                <label>{{item.key}}</label><br>
                                <textarea id="queryTextqv" height="300" name="queryText">{{item.value}}</textarea>
                                <input type="text" id="canvas-codemirror-new-det" class="noDisplay"/>
                            </ng-container>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="settings">
                        <br>
                        <div class="form-group">
                            <label>Stage Name</label>
                            <input #stagenameinput class="form-control input" type="text" value="{{name}}"/>
                        </div>
                        <div class="form-group">
                            <label>Link Input Status</label>
                            <select #linkstatusinput class="form-control param-value-input input">
                                <option value="ANY" [selected]="statusSel == 'ANY'">ANY</option>    
                                <option value="OK" [selected]="statusSel == 'OK'">OK</option>    
                                <option value="ERROR" [selected]="statusSel == 'ERROR'">ERROR</option>
                            </select>
                        </div>
                    </div>
                </div>


                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="removeStep()" >Remove</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="updateParams()" >Save changes</button>
                
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->