<div class="tab-pane fade param-editor" id="home">
    <div class="form-group" *ngFor="let item of generatedIdParams">
        <ng-container *ngIf="item.type == 'text'">
            <label>{{item.key}}</label>
            <input class="form-control param-value-input" id="param-{{item.key}}-value" value="{{item.value}}">
            <p class="help-block">{{item.source == 'PAR'?'required':'optional' }}</p>
        </ng-container>
        <ng-container *ngIf="item.type == 'password'">
            <label>{{item.key}}</label>
            <input class="form-control param-value-input" type="password" id="param-{{item.key}}-value" value="{{item.value}}">
            <p class="help-block">{{item.source == 'PAR'?'required':'optional' }}</p>
        </ng-container>
        <ng-container *ngIf="item.type == 'number'">
            <label>{{item.key}}</label>
            <input class="form-control param-value-input" type="number" id="param-{{item.key}}-value" value="{{item.value}}">
            <p class="help-block">{{item.source == 'PAR'?'required':'optional' }}</p>
        </ng-container>
        <ng-container *ngIf="item.type == 'boolean'">
            <label>{{item.key}}</label>
            <select class="form-control param-value-input" id="param-{{item.key}}-value">
                <option value="true" [selected]="item.value == 'true'?true:false" >True</option>
                <option value="false" [selected]="item.value == 'false'?true:false" >False</option>
            </select>
            <p class="help-block">{{item.source == 'PAR'?'required':'optional' }}</p>
        </ng-container>
        <ng-container *ngIf="item.type == 'list'">
            <label>{{item.key}}</label>
            <select class="form-control param-value-input" id="param-{{item.key}}-value">
                <option *ngFor="let opt of item.opt" value="{{opt}}" [selected]="item.value == opt">{{opt}}</option>
            </select>
            <p class="help-block">{{item.source == 'PAR'?'required':'optional' }}</p>
        </ng-container>
        <ng-container *ngIf="item.type == 'xcom'">
            <label>{{item.key}}</label>
            <select class="form-control param-value-input" id="param-{{item.key}}-value">
                <option selected disabled>Select related XCOM</option>
                <option *ngFor="let opt of xcoms" value="{{opt.id}}" [selected]="item.value == opt.id">{{opt.id}}</option>
            </select>
            <p class="help-block">{{item.source == 'PAR'?'required':'optional' }}</p>
        </ng-container>
    </div>
</div>
