<div class="tab-pane fade param-editor" id="remoter">   
    <ng-container *ngFor="let item of generatedIdParams">
        <ng-container *ngIf="item?.type == 'remote'">
            <div class="form-group nooverflow" >
                <br>
                <label>{{item.key}} to execute on remote</label><br>
                <div class="row" *ngFor="let commands of remote_cmd; let i = index;">
                    <div class="alert alert-info alert-dismissible remote-item col-md-8">
                        <button (click)="remove(i)" type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <b>{{getRemoteCmdValue(i,0)}}</b> {{getRemoteCmdValue(i,1)}} {{getRemoteCmdValue(i,2) ? '->' + getRemoteCmdValue(i,2):''}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Remote action</label><br>
                        <select #remoterActionSelector id="remoter-action-selector" class="form-control" (change)="onChange()">
                            <option value="download">DOWNLOAD</option>
                            <option value="upload">UPLOAD</option>
                            <option value="list">LIST</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label>Remote File or Path affected</label><br>
                        <input #remoterInput1 id="remoter-file-1" class="form-control" type="text" value=""/>
                    </div>
                    <div class="col-md-3">
                        <label>Local File or Path affected</label><br>
                        <input #remoterInput2 id="remoter-file-2" class="form-control" type="text" value=""/>
                    </div>
                    <div class="col-md-3">
                        <br>
                        <button id="remoter-file-btn" (click)="remoteAdd()" type="button" class="btn btn-info btn-circle"><i class="fa fa-check"></i></button>
                    </div>
                </div>
        </div>    
        
        </ng-container>
    </ng-container>
    
</div>