<a data-toggle="collapse" id="props-collapser-son-{{dagName}}" href="#collapseOne{{dagName}}" aria-expanded="false" class="collapsed"  (click)="collapse(dagName)">Create new operator</a>
<div id="collapseOne{{dagName}}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                            <div class="panel-body">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Name</label>
                                                        <input id="stepinput-{{dagName}}" class="form-control dagname inputc {{dagName}}" placeholder="new Operator name" value="step1">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Source Step</label>
                                                        <select id="sourcestep-{{dagName}}" class="form-control dagname {{dagName}}">
                                                            <option *ngFor="let item of boxes" value="{{item.id}}">{{item.id}}</option>    
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Status</label>
                                                        <select id="status-{{dagName}}" class="form-control dagname {{dagName}}">
                                                            <option value="ANY">ANY</option>    
                                                            <option value="OK">OK</option>    
                                                            <option value="ERROR">ERROR</option>    
                                                        </select>
                                                    </div>
                                                </div>
                                                
                                                <div class="form-group">
                                                    <label>Most used operators</label><br>
                                                    <button type="submit" [ngStyle]="{'background': dummyOperatorImg,'background-size': '100% 100%', 'background-repeat': 'no-repeat' }" class="Operator opbtn" (click)="add('main.cl.dagserver.infra.adapters.operators.DummyOperator',dagName)" title="Dummy Operator"><img></button>
                                                    <button type="submit" [ngStyle]="{'background': sshOperatorImg,'background-size': '100% 100%', 'background-repeat': 'no-repeat' }" class="Operator opbtn" (click)="add('main.cl.dagserver.infra.adapters.operators.SshOperator',dagName)" title="Remote SSh Operator"><img></button>
                                                    <button type="submit" [ngStyle]="{'background': groovyOperatorImg,'background-size': '100% 100%', 'background-repeat': 'no-repeat' }" class="Operator opbtn" (click)="add('main.cl.dagserver.infra.adapters.operators.GroovyOperator',dagName)" title="Groovy Script Operator"><img></button>
                                                    <button type="submit" [ngStyle]="{'background': jdbcOperatorImg,'background-size': '100% 100%', 'background-repeat': 'no-repeat' }" class="Operator opbtn" (click)="add('main.cl.dagserver.infra.adapters.operators.JdbcOperator',dagName)" title="Jdbc Operator"><img></button>
                                                </div>
                                                
                                                
                                                <div class="form-group">
                                                    <label>or select from the full list of operators</label>
                                                    <select id="steptype-{{dagName}}" class="form-control dagname {{dagName}}">
                                                        <optgroup label="Process operators">
                                                            <ng-container *ngFor="let item of parameters" >
                                                                <ng-container *ngIf="item.type == 'PROCCESS'">
                                                                    <option  value="{{item.class}}">{{item.name}}</option>
                                                                </ng-container>
                                                            </ng-container>
                                                        </optgroup>
                                                        <optgroup label="Remote operators">
                                                            <ng-container *ngFor="let item of parameters" >
                                                                <ng-container *ngIf="item.type == 'REMOTE'">
                                                                    <option  value="{{item.class}}">{{item.name}}</option>
                                                                </ng-container>
                                                            </ng-container>
                                                        </optgroup>
                                                        <optgroup label="Integration operators">
                                                            <ng-container *ngFor="let item of parameters" >
                                                                <ng-container *ngIf="item.type == 'EXTERNAL'">
                                                                    <option  value="{{item.class}}">{{item.name}}</option>
                                                                </ng-container>
                                                            </ng-container>
                                                        </optgroup>
                                                    </select>
                                                </div>
                                                <a class="btn btn-primary" (click)="createNewStep(dagName)">
                                                    <i class="fa fa-floppy-o"></i> Add
                                                </a>
                                            </div>
                                        </div>
                                  