<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Jobs</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Jarfile Detail
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">

                        <ul class="nav nav-tabs">
                            <li *ngFor="let dag of dagsavai; let i = index;"  [ngClass]="dagname == dag ? 'active':''"><a href="#{{dag}}" (click)="reinit(i);" data-toggle="tab">{{dag}}</a></li>
                        </ul>
                        <div class="tab-content">
                            <div *ngFor="let dag of dagsavai; let i = index;" [ngClass]="dagname == dag ? 'tab-pane fade in active':'tab-pane fade'" id="{{dag}}">
                                
                                <div class="row">
                                    <div class="col-md-7">
                                        <div id="diagram-ctn-{{dag}}" style="border: 1px dotted gray;overflow: scroll;width:100%;"></div>
                                    </div>
                                    <div class="col-md-5">



                                        <ul class="nav nav-tabs">
                                            <li class="active"><a href="#timeline" data-toggle="tab">Execution Timeline Performance</a></li>
                                            <li><a href="#compiledprops" data-toggle="tab">Jar Properties</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane fade in active" id="timeline">
                                                <div class="panel panel-default">
                                                    <!-- /.panel-heading -->
                                                    <div class="panel-body">
        
                                                        <div class="form-group">
                                                            <label>Log Id</label>
                                                            <input class="form-control" disabled value="{{last?.id}}">
                                                        </div>
                                                        <p>Log detail <a (click)="goToLogDetail(last.id)" class="linker">here.</a></p>
                                                        <ul class="timeline">
                                                            <li *ngFor="let node of dagparsed;let i = index" [ngClass]=" i % 2 ===1?'timeline-inverted':''">
                                                                <div class="timeline-badge"><i class="fa fa-check"></i>
                                                                </div>
                                                                <div class="timeline-panel">
                                                                    <div class="timeline-heading">
                                                                        <h4 class="timeline-title">{{node.name}}</h4>
                                                                        <p>
                                                                            <small class="text-muted"><i class="fa fa-clock-o"></i>{{node.endOn}}</small>
                                                                        </p>
                                                                    </div>
                                                                    <div class="timeline-body">
                                                                        <b>Operator:</b>
                                                                        <p>{{node.operator}}</p>
                                                                        <p>{{node.wait}} miliseconds</p>
                                                                        <p>returned: {{node.rows}} rows</p>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            
                                                        </ul>
                                                    </div>
                                                    <!-- /.panel-body -->
                                                </div>
                                                <!-- /.panel -->
                                            </div>
                                            <div class="tab-pane fade in dag-params-body" id="compiledprops">
                                                <div class="form-group" *ngFor="let item of params">
                                                    <label>{{item.stepid}}-{{item.name}}</label>
                                                    <input id="dagnameinput-{{item.key}}" class="form-control dagname" value="{{item.value}}" disabled>
                                                    <p class="help-block">{{item.source == 'props' ? 'required' : 'optional'}}</p>
                                                </div>
                                                
                                                <div class="form-group">
                                                    <button type="button" id="btn-compiled-prop" class="btn btn-primary" (click)="copyPropJSON()">
                                                        <i class="fa fa-clipboard">&nbsp;</i>
                                                        Prop JSON
                                                    </button>&nbsp;
                                                    <button type="button"  id="btn-compiled-opts" class="btn btn-primary" (click)="copyOptsJSON()">
                                                        <i class="fa fa-clipboard">&nbsp;</i>
                                                        Opts JSON
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                
                                
                            </div>
                            <input type="text" id="canvas-det" class="noDisplay"/>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-error-mondal [errorMsje]="error_msje" [idModal]="'propertyNotFoundModal'"></app-error-mondal>
<app-jardetailp #modalp [selectedDag]="selectedDag" [selectedStep]="selectedStep" [selectedStepParams]="selectedStepParams" [selectedStepOpts]="selectedStepOpts" [selectedStepMetadata]="selectedStepMetadata" [jarname]="jarname"></app-jardetailp>