<a data-toggle="collapse" id="params-collapser-{{dagName}}" href="#collapseParamOne{{dagName}}-det" aria-expanded="false" class="collapsed" (click)="collapse(dagName)">Properties</a><br><br>
<div id="collapseParamOne{{dagName}}-det" class="panel-collapse collapse dag-params-body" aria-expanded="false" style="height: 0px;">


    <div class="form-group" *ngFor="let item of params">
        <label>{{item?.step}}-{{item?.key}}</label>
        <input id="dagnameinput-{{item?.rkey}}" class="form-control dagname" value="{{item?.value}}" disabled>
        <p class="help-block">{{item?.source == 'prop' ? 'required' : 'optional'}}</p>
    </div>
    
    <div class="form-group">
        <button type="button" id="copy-prop" class="btn btn-primary" (click)="copyPropJSON()">
            <i class="fa fa-clipboard">&nbsp;</i>
            Prop JSON
        </button>&nbsp;
        <button type="button" id="copy-opts" class="btn btn-primary" (click)="copyOptsJSON()">
            <i class="fa fa-clipboard">&nbsp;</i>
            Opts JSON
        </button>
    </div>


</div>