<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Channels</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Event execution channels
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">

                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Channel name</th>
                                        <th>Status</th>
                                        <th>Options</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of items;let i=index;">
                                       <td>{{item.name}}</td>
                                       <td>{{item.status}}</td>
                                       <td>
                                            <ng-container *ngIf="item.name != 'SCHEDULER'">
                                                <button (click)="options(item)" type="button" class="btn btn-primary btn-circle"><i class="fa fa-cogs"></i></button>&nbsp;
                                            </ng-container>
                                       </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- Modal -->
<div class="modal fade" id="githubModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
       <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title" id="myModalLabel">Repositories</h4>
           </div>
           <div class="modal-body">


            <a data-toggle="collapse" id="props-collapser-son" href="#collapseNewGithub" aria-expanded="false" class="collapsed">Create new webhook</a>
            <div id="collapseNewGithub" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                
                <div class="form-group">
                    <label>Repository Name</label>
                    <input #reponame class="form-control">
                </div>
                <div class="form-group">
                    <label>Repository URL</label>
                    <input #repourl class="form-control">
                </div>
                <div class="form-group">
                    <label>SECRET</label>
                    <input #reposecret class="form-control">
                </div>
                <div class="form-group">
                    <label>JarFile</label>
                    <select #jarfile class="form-control" (change)="selectJarFile()">
                        <option disabled selected>Select JarFile</option>
                        <option *ngFor="let item of jars" value="{{item}}">{{item}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Dag</label>
                    <select #dagname class="form-control">
                        <option *ngFor="let item of dags" value="{{item.dagname}}">{{item.dagname}}</option>
                    </select>
                </div>
                <button (click)="createGithubWebhook()" type="button" class="btn btn-primary">Add</button> 

            </div>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Repository</th>
                            <th>Url</th>
                            <th>Secret</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let repos of propsSelected">
                            <td>{{repos.key}}</td>
                            <td>{{repos.descr}}</td>
                            <td>{{repos.value}}</td>
                            <td>
                                <button (click)="remove(repos)" type="button" class="btn btn-danger btn-circle"><i class="fa fa-close"></i></button>&nbsp;

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           </div>
       </div>
       <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="rabbitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Rabbit Channel Options</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Host</label>
                    <input #rabbithost class="form-control">
                </div>
                <div class="form-group">
                    <label>Port</label>
                    <input #rabbitport class="form-control">
                </div>
                <div class="form-group">
                    <label>Username</label>
                    <input #rabbituser class="form-control">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input #rabbitpwd type="password" class="form-control">
                </div>
                <a data-toggle="collapse" id="props-collapser-son" href="#collapseNewQueue" aria-expanded="false" class="collapsed">Bind Queue</a>
                <div id="collapseNewQueue" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">

                    <div class="form-group">
                        <label>Queue</label>
                        <input #rabbitqueue class="form-control">
                    </div>
                    <div class="form-group">
                        <label>JarFile</label>
                        <select #jarfiler class="form-control" (change)="selectJarFiler()">
                            <option disabled selected>Select JarFile</option>
                            <option *ngFor="let item of jars" value="{{item}}">{{item}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Dag</label>
                        <select #dagnamer class="form-control">
                            <option *ngFor="let item of dags" value="{{item.dagname}}">{{item.dagname}}</option>
                        </select>
                    </div>
                    <button (click)="createRabbit()" type="button" class="btn btn-primary">Add</button> 


                </div>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Queue</th>
                                <th>JarFile</th>
                                <th>Dagname</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>