<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Channels</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Event execution channels
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">

                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Channel name</th>
                                        <th>Status</th>
                                        <th>Options</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of items;let i=index;">
                                       <td>{{item.name}}</td>
                                       <td>{{item.status}}</td>
                                       <td>
                                            <ng-container *ngIf="item.name != 'SCHEDULER'">
                                                <button (click)="options(item)" type="button" class="btn btn-primary btn-circle"><i class="fa fa-cogs"></i></button>&nbsp;
                                            </ng-container>
                                       </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- Modal -->
<app-git-hub-modal [jars]="jars" [dags]="dags" [propsSelected]="propsSelected" (selectJar)="selectJarFile($event)"></app-git-hub-modal>

<app-rabbit-modal [jars]="jars" [dags]="dags" (selectJar)="selectJarFile($event)"></app-rabbit-modal>

<app-redis-modal [jars]="jars" [dags]="dags" (selectJar)="selectJarFile($event)"></app-redis-modal>

