<div class="modal fade" id="param-modaljardetailj" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{{selectedStep}} details</h4>
            </div>
            <div class="modal-body">
                
                <ul class="nav nav-tabs">
                    <li><a href="#home"  (click)="changeTab('#home')"  data-toggle="tab">Parameters</a></li>
                    <li><a id="trigger-id" href="#profile"   (click)="changeTab('#profile')"  data-toggle="tab">Scripts</a></li>
                    <li><a id="remote_li" href="#remoter"  (click)="changeTab('#remoter')"  data-toggle="tab">Remote</a></li>
                </ul>
                <div #loader class="loader"></div>
                <div #form class="tab-content">
                    <app-default-type-param #inputDefault [generatedIdParams]="generatedIdParams" [xcoms]="xcoms"></app-default-type-param>
                    <app-source-type-param #inputSource [generatedIdParams]="generatedIdParams"></app-source-type-param>
                    <app-remote-type-param #inputRemote [generatedIdParams]="generatedIdParams"></app-remote-type-param>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="updateParams()" >Save changes</button>
            </div>
        </div>
    </div>
</div>