<br>
<button type="button" (click)="refresh()" class="btn btn-primary btn-circle" title="Jar Detail"><i class="fa fa-refresh"></i></button>
<br><br>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-jobs">
                                        <thead>
                                            <tr>
                                                <th>Jarname</th>
                                                <th>CreatedAt</th>
                                                <th>ClassName</th>
                                                <th>GroupName</th>
                                                <th>DagName</th>
                                                <th>Activated</th>
                                                <th>Trigger</th>
                                                <th>Target</th>
                                                <th>Options</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of jobs">
                                                <td>{{item.jarname === 'SYSTEM' ? item.jarname : item.jarname.split('.')[1]}}</td>
                                                <td>{{item.jarname === 'SYSTEM' ? '' : item.jarname.split('.')[0]}}</td>
                                                <td>{{item.classname}}</td>
                                                <td>{{item.groupname}}</td>
                                                <td>{{item.dagname}}</td>
                                                <td>{{item.hasScheduled}}</td>
                                                <td>{{item.triggerEvent}}</td>
                                                <td>{{item.triggerEventTarget?item.triggerEventTarget:item.nextFireAt}}</td>
                                                <td>
                                                    <ng-container *ngIf="item.jarname != 'SYSTEM'">
                                                        <button type="button" (click)="play(item.jarname,item.dagname)" class="btn btn-default btn-circle" title="Execute dag now"><i class="fa fa-play"></i></button>
                                                    </ng-container>
                                                    <button type="button" (click)="jobDetail(item.jarname,item.dagname)" class="btn btn-default btn-circle" title="Jar Detail"><i class="fa fa-archive"></i></button>
                                                    <button type="button" (click)="viewLogs(item.dagname)" class="btn btn-default btn-circle" title="View Logs"><i class="fa fa-dedent"></i></button>
                                                    <ng-container *ngIf="item.jarname != 'SYSTEM'">
                                                        <button type="button" (click)="hasScheduled(item)" class="btn btn-default btn-circle" title="Toggle Dag"><i class="fa fa-cog"></i></button>
                                                    </ng-container>
                                                    <button type="button" (click)="dependencies(item.jarname,item.dagname)" class="btn btn-default btn-circle" title="Dependencies"><i class="fa fa-chain"></i></button>
                                                    <ng-container *ngIf="item.jarname != 'SYSTEM'">
                                                        <button type="button" (click)="importJarDesign(item.jarname)" class="btn btn-default btn-circle" title="Import Design"><i class="fa fa-upload"></i></button>
                                                    </ng-container>
                                                    <ng-container *ngIf="item.jarname != 'SYSTEM'">
                                                        <button type="button" (click)="remove(item.jarname)" class="btn btn-danger btn-circle" title="Delete Jarfile"><i class="fa fa-trash"></i></button>
                                                    </ng-container>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>        
                                </div>
                                <app-error-mondal [titleMsje]="title_msje" [errorMsje]="error_msje" [idModal]="'propertyNotFoundModal'"></app-error-mondal>
                                <app-value-modal [id]="'compiled-args'" #valuer [param]="'args'" [actualValue]="'{}'" (changeValueEvent)="changeValueEvent($event)"></app-value-modal>