<div class="modal fade" id="rabbitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Rabbit Channel Options</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Host</label>
                    <input #rabbithost class="form-control" value="{{rbhost}}">
                </div>
                <div class="form-group">
                    <label>Port</label>
                    <input #rabbitport class="form-control" value="{{rbport}}">
                </div>
                <div class="form-group">
                    <label>Username</label>
                    <input #rabbituser class="form-control" value="{{rbuser}}">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input #rabbitpwd type="password" class="form-control" value="{{rbpwd}}">
                </div>
                <div class="alert alert-danger" *ngIf="error_msg">
                    {{error_msg}}
                 </div>
                <button (click)="createRabbit()" type="button" class="btn btn-primary">Save</button> 
                <br><br>
                <a data-toggle="collapse" id="props-collapser-son-1" href="#collapseNewQueue" aria-expanded="false" class="collapsed">Bind Queue</a>
                <div id="collapseNewQueue" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">

                    <div class="form-group">
                        <label>Queue</label>
                        <input #rabbitqueue class="form-control">
                    </div>
                    <div class="form-group">
                        <label>JarFile</label>
                        <select #jarfiler class="form-control" (change)="selectJarFiler()">
                            <option disabled selected>Select JarFile</option>
                            <option *ngFor="let item of jars" value="{{item}}">{{item}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Dag</label>
                        <select #dagnamer class="form-control">
                            <option *ngFor="let item of dags" value="{{item.dagname}}">{{item.dagname}}</option>
                        </select>
                    </div>
                    <div class="alert alert-danger" *ngIf="error_msg2">
                        {{error_msg2}}
                     </div>
                    <button (click)="saveQueue()" type="button" class="btn btn-primary">Add</button> 


                </div>

                <div class="table-responsive">
                    <table class="table" id="rabbit-tbl">
                        <thead>
                            <tr>
                                <th>Queue</th>
                                <th>JarFile</th>
                                <th>Dagname</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of queues">
                                <td>{{item.queue}}</td>
                                <td>{{item.jarname}}</td>
                                <td>{{item.dagname}}</td>
                                <td>
                                    <button (click)="removeQueue(item)" type="button" class="btn btn-danger btn-circle"><i class="fa fa-close"></i></button>&nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
