<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">Dagserver</a>
        </div>
  
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <ul class="nav navbar-nav navbar-left navbar-top-links">
            <li><a (click)="goToMonitor()" class="linker"><i class="fa fa-bar-chart fa-fw"></i>Monitor</a></li>
        </ul>
  
        <ul class="nav navbar-right navbar-top-links">
            
            
            <li class="dropdown navbar-inverse">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" (click)="reset()">
                    <i class="fa fa-book fa-fw"></i> 
                    <ng-container *ngIf="badget != 0">
                        <span class="badge">1</span> 
                    </ng-container>
                    <b class="caret"></b>
                </a>
                <ng-container *ngIf="notifications.length > 0 || logs.length > 0">
                    <ul class="dropdown-menu dropdown-alerts">
                        <li *ngFor="let item of notifications">
                            <a class="linker" (click)="result(item)">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> {{item?.dagname}}<br>
                                    <span class="pull-right text-muted small">{{item?.evalDt }}</span>
                                </div>
                            </a>
                        </li>
                        <li *ngFor="let item of logs">
                            <a class="linker" (click)="resultLog(item)">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> {{item.dagname}}<br>
                                    <span class="pull-right text-muted small"> {{item.execDt }} </span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </ng-container>
            </li>
            <li class="dropdown navbar-inverse">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-server fa-fw"></i> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li *ngFor="let item of agents">
                        <a class="linker">
                            <div>
                                <i class="fa fa-sitemap fa-fw"></i> {{item.name}}
                                <span class="pull-right text-muted small">{{item.updatedOn | date: 'dd/MM/yyyy hh:mm:ss' }}</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> {{username}} <b class="caret"></b>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a id="logout-btn" (click)="logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- /.navbar-top-links -->
  
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <ng-container *ngIf="typeAccount == 'ADMIN'">
                        <li>
                            <a href="#"><i class="fa fa-cogs fa-fw"></i> Channels<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a (click)="viewChannels()" class="linker"> Inputs </a>
                                </li>
                            </ul>    
                        </li>
                    </ng-container>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Scheduler<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a (click)="viewProps()" class="linker"> Properties </a>
                            </li>
                            <li>
                                <a (click)="viewJobs()" class="linker"> Jobs </a>
                            </li>
                            <li>
                                <a (click)="viewExceptions()" class="linker"> Exceptions </a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <ng-container *ngIf="typeAccount == 'ADMIN'">
                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> Admin<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a (click)="credentials()"  class="linker"> Credentials </a> 
                                </li>                            
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ng-container>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>
  
    <!-- Page Content -->
    <router-outlet
    ></router-outlet>
    
    <!-- /#page-wrapper -->
  
  </div>
  <!-- /#wrapper -->
  <app-result-step-modal #resultStepModalAut></app-result-step-modal>