<div class="modal fade" id="githubModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Repositories</h4>
            </div>
            <div class="modal-body">
 
 
             <a data-toggle="collapse" id="props-collapser-son" href="#collapseNewGithub" aria-expanded="false" class="collapsed">Create new webhook</a>
             <div id="collapseNewGithub" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                 
                 <div class="form-group">
                     <label>Repository Name</label>
                     <input #reponame class="form-control">
                 </div>
                 <div class="form-group">
                     <label>Repository URL</label>
                     <input #repourl class="form-control">
                 </div>
                 <div class="form-group">
                     <label>SECRET</label>
                     <input #reposecret class="form-control">
                 </div>
                 <div class="form-group">
                     <label>JarFile</label>
                     <select #jarfile class="form-control" (change)="selectJarFile()">
                         <option disabled selected>Select JarFile</option>
                         <option *ngFor="let item of jars" value="{{item}}">{{item}}</option>
                     </select>
                 </div>
                 <div class="form-group">
                     <label>Dag</label>
                     <select #dagname class="form-control">
                         <option *ngFor="let item of dags" value="{{item.dagname}}">{{item.dagname}}</option>
                     </select>
                 </div>
                 <div class="alert alert-danger" *ngIf="error_msg">
                    {{error_msg}}
                 </div>
                 <button (click)="createGithubWebhook()" type="button" class="btn btn-primary">Add</button> 
 
             </div>
 
             <div class="table-responsive">
                 <table class="table" id="github-tbl">
                     <thead>
                         <tr>
                             <th>Repository</th>
                             <th>Url</th>
                             <th>Secret</th>
                             <th>Options</th>
                         </tr>
                     </thead>
                     <tbody>
                         <tr *ngFor="let repos of propsSelected">
                             <td>{{repos.key}}</td>
                             <td>{{repos.descr}}</td>
                             <td>{{repos.value}}</td>
                             <td>
                                 <button (click)="remove(repos)" type="button" class="btn btn-danger btn-circle"><i class="fa fa-close"></i></button>&nbsp;
 
                             </td>
                         </tr>
                     </tbody>
                 </table>
             </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
 </div>
 